@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
}

@media (min-width: 769px) {
    .carousel-caption{
        font-size: large;
        
    }

    .nav-item{
        margin-left: 60px;
    }
}


.nav-link:hover{
    color: #FFA552 !important;
}
.carousel-caption p{
    text-transform: uppercase;
}



.navbar {
    background-color: #fef5f0 !important;
}


.container h1{
    color: #442922;
}

body{
    background-color: #fef5f0 !important;
}

nav{
    font-size:large;
}

.dropdown-item{
    font-size:medium;
    text-align: center;

}

.navbar-collapse{
    align-items: center;
    justify-content: flex-start;
}


.navbar{
    padding: 1rem;
    background-color: #F7F7F7;
}

nav img{
    max-width: 100px;
}
.carousel-inner{
    max-height: 250px;
}

.carousel-inner figure{
    max-height: 250px;
}



#carouselExampleCaptions{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.container section{
    text-align: center;
    padding: 50px 20px 30px 20px;
}

.card{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);cursor:default; transition: all 400ms ease;
   border:1px solid #442922 !important;
   background-color: #fef5f0 !important;
}

.card:hover{box-shadow: 5px 5px 20px rgba(0,0,0,0.4); transform: translateY(-3%);}

.card i{
    font-size: 80px;
    color: #ffa552;
    padding-bottom: 20px;
    
}



.container h1{
    font-size: x-large;
}
.card a{
    text-decoration: none;
}

.card h5{
    margin: 10px 0;
    color: #442922;
    font-size: medium;
}

.nosotros{
    background-color: #442922;
    background-size: cover;
    color: white;
    padding: 60px 20px 60px 20px;
    margin-bottom: 60px;
    margin-top: 30px;
}

figure img{
    width: 100%;
}
.footer{
    background-color: #442922;
    padding: 30px 0 15px 0;
}



.cards-lawyer{
    display: flex;
    justify-content: space-evenly;
    margin: 25px auto 25px auto;
    max-width: 1200px;
    flex-wrap: wrap;
}
.card-lawyer{
    max-width: 330px;
    padding: 15px;
    
    margin-top: 15px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);cursor:default; transition: all 400ms ease;
}

.card-lawyer:hover{box-shadow: 5px 5px 20px rgba(0,0,0,0.4); transform: translateY(-3%);}
.card-lawyer img{
    margin: 10px 0 20px 0;
}
.card-lawyer h3{
    margin: 5px;
}
.card-lawyer img{
    width: 50%;
    height: auto;
    object-fit: contain;
}
.card-lawyer p{
    font-size: small;
    text-align: justify;
}

.redes-lawyer{
    margin-bottom: 20px;
}

/* Aplicar ancho y alto a los íconos dentro de .redes-lawyer */
.bi-linkedin {
    font-size: 25px;
    
  }

  .bi-envelope-fill{
    font-size: 25px;
    
  }
  