@font-face {
    font-family:'BebasNeue' ;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

*{
    font-family:'BebasNeue' ;
 
}

nav{
    font-size:x-large;
}

.dropdown-item{
    font-size:larger;
    text-align: center;

}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


.navbar{
    padding: 1rem;
    background-color: #F7F7F7;
}

nav img{
    max-width: 50px;
}

.carousel-item figure{
    max-height: 450px;
}

#carouselExampleCaptions{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.container section{
    text-align: center;
    padding: 50px 20px 30px 20px;
}

.card{
    padding: 20px;
    margin-bottom: 20px;
    
}

.card i{
    font-size: 80px;
    color: #19756A;
    padding-bottom: 20px;
    
}

.card a{
    text-decoration: none;
    color: #14352F;
}

.nosotros{
    background-image: url(./images/pattern-bg.png);
    background-size: cover;
    color: white;
    padding: 60px 20px 60px 20px;
}