@font-face {
    font-family:'BebasNeue' ;
    src: url(./fonts/BebasNeue-Regular.ttf);
 
}

@media (min-width: 769px) {
    .carousel-caption{
        font-size: xx-large;
        
    }

    .nav-item{
        margin-left: 60px;
    }
}

.carousel-caption p{
    font-family:'BebasNeue' !important;
    text-transform: uppercase;
}


p, .footer a{
    font-family: 'Roboto', sans-serif;
}

.navbar {
    font-family:'BebasNeue';

}
h1,h2,h3,h4,h5 {
    font-family:'BebasNeue';

}


nav{
    font-size:x-large;
}

.dropdown-item{
    font-size:larger;
    text-align: center;

}

.navbar-collapse{
    align-items: center;
    justify-content: flex-start;
}


.navbar{
    padding: 1rem;
    background-color: #F7F7F7;
}

nav img{
    max-width: 100px;
}
.carousel-inner{
    max-height: 250px;
}

.carousel-inner figure{
    max-height: 250px;
}



#carouselExampleCaptions{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.container section{
    text-align: center;
    padding: 50px 20px 30px 20px;
}

.card{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);cursor:default; transition: all 400ms ease;
   
}

.card:hover{box-shadow: 5px 5px 20px rgba(0,0,0,0.4); transform: translateY(-3%);}

.card i{
    font-size: 80px;
    color: #19756A;
    padding-bottom: 20px;
    
}

.card a{
    text-decoration: none;
    color: #14352F;
}

.nosotros{
    background-image: url(./images/pattern-bg.png);
    background-size: cover;
    color: white;
    padding: 60px 20px 60px 20px;
    margin-bottom: 60px;
    margin-top: 30px;
}

figure img{
    width: 100%;
}
.footer{
    background-color: #0A1312;
    padding: 30px 0 15px 0;
}



.cards-lawyer{
    display: flex;
    justify-content: space-evenly;
    margin: 25px auto 25px auto;
    max-width: 1200px;
    flex-wrap: wrap;
}
.card-lawyer{
    max-width: 330px;
    padding: 15px;
    border:1px solid #AFAFAF;
    margin-top: 15px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);cursor:default; transition: all 400ms ease;
}

.card-lawyer:hover{box-shadow: 5px 5px 20px rgba(0,0,0,0.4); transform: translateY(-3%);}
.card-lawyer img{
    margin: 10px 0 20px 0;
}
.card-lawyer h3{
    margin: 5px;
}
.card-lawyer p{
    font-size: small;
    text-align: justify;
}

.redes-lawyer{
    margin-bottom: 20px;
}

/* Aplicar ancho y alto a los íconos dentro de .redes-lawyer */
.bi-linkedin {
    font-size: 25px;
    
  }

  .bi-envelope-fill{
    font-size: 25px;
    
  }
  